.section{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-image: url('../../../assets/backgroundBanner.png');
    background-repeat: no-repeat;
    background-size: cover;

    h1{
        font-size: 5rem;
        text-align: center;

        span{
            font-weight: bold;
            position: relative;

            &::after{
                content: '';
                height: 4px;
                width: 100%;
                background: linear-gradient(90deg, var(--purple), var(--pink));
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }

    h3{
        text-align: center;
        width: 70%;
    }

    p{
        text-align: center;
    }

    div{
        display: flex;
        gap: 1rem;
    }
}

@media(max-width: 768px){

    .section{

        h1{
            padding: 0 1.5rem;
            font-size: 4rem;
        }

        h3{
            width: 100%;
            padding: 0 1rem;
            font-size: 2rem;
        }

        p{
            font-size: 1.2rem;
        }

        div{
            padding: 0 1rem;
            button{
                width: 50%;
                font-size: 1.4rem;
                padding: 1rem 2rem;
            }
        }
    }
}